
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    background: #f0f0f0;
}

.calculator {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 70px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    width: 70px;
    height: 70px;
    margin: 8px;
    font-size: 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

/* .button.zero {

    width: 150px;
} */

.button.AC {
    background-color: #ff4d4d;
    color: white;
}

.button.equal {
    background-color: #4CAF50;
    color: white;
    grid-column: span 2;
    width: 100%;
}

.button:hover {
    background-color: #ddd;
}
.AC:hover {
    background-color: #f0ad4e;
    color: white;
}

.equal:hover {
    background-color: #45a049;
    color: white;
}

.operator {
    background-color: #f0ad4e;
    color: white;
}